
a {
  cursor: pointer;
}

html,
body {
  background: white;
  font-family: Verdana, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.align {
  text-align: center;
}

.button {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.flex {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.flex-down {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#gyear {
  justify-content:flex-start;
  padding-top: 30px;
  padding-left: 80px;
  font-size: 12px;
  font-weight: bold;
}

#ccountry {
  justify-content:flex-start;
  padding-top: 30px;
  padding-right: 20px;
  font-size: 12px;
  font-weight: bold;
}

#cyear {
  padding-top: 30px;
  padding-right: 50px;
  font-size: 12px;
  font-weight: bold;
  height: fit-content;
}

#export-button {
  height: 20px;
  width: 80px;
  font-size: 8pt;
}

#import-button {
  height: 20px;
  width: 80px;
  font-size: 8pt;
}

#worldmap {
  padding-left: 200px;
}

.content {
  font-size: 11px;
  font-weight: lighter;
  padding-left: 250px;
  
}

#linechart {
  padding-left: 150px;
  padding-top: 25px;
}

#isotypegraph {
  padding-top: 90px;
  padding-left: 30px
}

#barchart {
  padding-right: 0px;
  padding-top: 10px;
  height: 150px;
}

#tooltip {
  position: absolute;
  text-align: center;
  width: 120px;
  height: 40px;
  padding: 5px;
  font: 10px sans-serif;
  background: white;
  border: 3px solid  palevioletred;
  border-radius: 8px;
  pointer-events: none;
  font-weight: bolder;
  margin: auto;
  display: inline-block;
}

#slide2-dropdown {
  height: 150px
}

.line-left {
  border-left: 2px solid paleturquoise;
  height: 630px;
  position: absolute;
  left: 15%;
  top: 30px;
}

.line-right {
  border-right: 2px solid paleturquoise;
  height: 630px;
  position: absolute;
  right: 15%;
  top: 30px;
}

.line-top-left {
  border-top: 2px solid paleturquoise;
  width: 380px;
  position: absolute;
  left: 15%;
  top: 30px;
}

.line-top-right {
  border-top: 2px solid paleturquoise;
  width: 380px;
  position: absolute;
  right: 15%;
  top: 30px;
}

.line-bottom {
  border-bottom: 2px solid paleturquoise;
  width: 1075px;
  position: absolute;
  right: 15%;
  bottom: 75px;
}