
a {
  cursor: pointer;
}

html,
body {
  background: white;
  font-family: Calibri;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.align {
  margin-top: 5px;
  text-align: center;
  font-size: 22px;
  margin-bottom: 5px;
}

.buttons {
  height: 5px;
  margin-top: 0px;
}

#border {
  border: solid thick black;
  background-color: transparent;
  width: 500px;
  height: 400px;
}

.dotted {
  border-top: dotted lightgrey;
  left: 12%;
  width: 1150px;
  top: 227px;
  position: absolute;
}

.line-left {
  border-left: 2px solid lightgrey;
  height: 688px;
  position: absolute;
  left: 12%;
  top: 30px;
}

.line-right {
  border-right: 2px solid lightgrey;
  height: 688px;
  position: absolute;
  right: 12%;
  top: 30px;
}

.line-top-left {
  border-top: 2px solid lightgrey;
  width: 420px;
  position: absolute;
  left: 12%;
  top: 30px;
}

.line-top-right {
  border-top: 2px solid lightgrey;
  width: 420px;
  position: absolute;
  right: 12%;
  top: 30px;
}

.line-bottom {
  border-bottom: 2px solid lightgrey;
  width: 1155px;
  position: absolute;
  right: 12%;
  bottom: 35px;
}

.slide1-content {
  margin-top: 0px;
  margin-bottom: 0px;
}

.slide2-content {
  margin-top: 0px;
  margin-bottom: 0px;
}

.flex {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.flex-down {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#gyear {
  padding-top: 0px;
  padding-left: 80px;
  font-size: 14px;
  font-weight: bold;
}

#gyear2 {
  padding-top: 0px;
  padding-left: 80px;
  font-size: 14px;
  font-weight: bold;
}

#ccountry {
  padding-top: 25px;
  padding-left: 370px;
  font-size: 14px;
  font-weight: bold;
}

#ccountry2 {
  padding-top: 30px;
  padding-left: 370px;
  font-size: 14px;
  font-weight: bold;
}

#cyear {
  padding-top: 0px;
  padding-left: 290px;
  font-size: 14px;
  font-weight: bold;
  height: min-content;
  align-content: flex-end;
}

#cyear2 {
  padding-top: 15px;
  padding-left: 290px;
  font-size: 14px;
  font-weight: bold;
  height: min-content;
  align-content: flex-end;
}

#export-button {
  height: 20px;
  width: 80px;
  font-size: 8pt;
}

#import-button {
  height: 20px;
  width: 80px;
  font-size: 8pt;
}

#above-graphs {
  height: 18%;
}

#graphs {
  margin-top: 0px;
}

.top-left-margin {
  width: 60%;
}

.top-right-margin {
  width: 60%;
}

.content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 0px;
  padding-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;  
  width: 2400px;
}

#above-graphs {
  padding-top: 15px;
}

#texts {
  height: 150px;
  padding-left: 50px;
}

#select-country {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 360px;
  font-size: 16px;
}

.select-text {
  margin-top: 5px;
  margin-bottom: 0px;
  padding-left: 30px;
  padding-top: 15px;
  font-size: 16px;
}

.select-year {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 16px;
}

#select-country-detail {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 230px;
  font-size: 16px;
  font-weight: lighter;
  padding-right: 10px;
  text-justify: newspaper;
}

#isotype-detail {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: lighter;
  padding-right: 208px;
}

#worldmap {
  padding-right: 40px;
}

#worldmap2 {
  padding-right: 40px;
}

#linechart {
  position: relative;
  margin-top: 0px;
  padding-left: 122px;
  padding-top: 10px;
}

#linechart2 {
  position: relative;
  margin-top: 5px;
  padding-left: 122px;
  padding-top: 10px;
}

#isotypegraph {
  position: relative;
  padding-left: 70px;
  padding-top: 20px;
}

#isotypegraph2 {
  position: relative;
  padding-left: 70px;
  padding-top: 20px;
}

#isotype-legend {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 135px;
  font-size: 16px;
}

#barchart {
  position: relative;
  padding-left: 210px;
  height: 130px;
}

#barchart2 {
  position: relative;
  padding-left: 210px;
  height: 130px;
}

#tooltip {
  position: absolute;
  text-align: center;
  width: 120px;
  height: 40px;
  padding: 5px;
  font: 10px sans-serif;
  background: white;
  border: 3px solid  palevioletred;
  border-radius: 8px;
  pointer-events: none;
  font-weight: bolder;
  margin: auto;
  display: inline-block;
}

#slide2-dropdown {
  height: 150px
}