
a {
  cursor: pointer;
}

html,
body {
  background: white;
  font-family: Verdana, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.align {
  text-align: center;
}

.buttons {
  height: 5px;
}

.slide1-content {
  margin-top: 0px;
  margin-bottom: 0px;
}

.slide2-content {
  margin-top: 0px;
  margin-bottom: 0px;
}

.flex {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.flex-down {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#gyear {
  justify-content:flex-start;
  padding-top: 30px;
  padding-left: 80px;
  font-size: 12px;
  font-weight: bold;
}

#gyear2 {
  justify-content:flex-start;
  padding-top: 30px;
  padding-left: 80px;
  font-size: 12px;
  font-weight: bold;
}

#ccountry {
  justify-content:flex-start;
  padding-top: 30px;
  padding-right: 20px;
  font-size: 12px;
  font-weight: bold;
}

#cyear {
  padding-top: 0px;
  padding-left: 110px;
  font-size: 11px;
  font-weight: bold;
  height: min-content;
  align-content: flex-end;
}

#cyear2 {
  padding-top: 0px;
  padding-left: 110px;
  font-size: 11px;
  font-weight: bold;
  height: min-content;
  align-content: flex-end;
}

#export-button {
  height: 20px;
  width: 80px;
  font-size: 8pt;
}

#import-button {
  height: 20px;
  width: 80px;
  font-size: 8pt;
}

#above-graphs {
  height: 18%;
}

#graphs {
  margin-top: 0px
}

.top-left-margin {
  width: 60%;
}

.top-right-margin {
  width: 60%;
}

.content {
  font-size: 12px;
  font-weight: lighter;
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;  
}

#above-graphs {
  padding-top: 15px;
}

#texts {
  height: 150px;
  padding-left: 50px;
}

#select-country {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 400px;
}

#select-year {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 415px;
}

#select-country-detail {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 208px;
  font-size: 12px;
  font-weight: lighter;
  padding-right: 30px;
}

#isotype-detail {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 40px;
  font-size: 12px;
  font-weight: lighter;
  padding-right: 208px;
}

#worldmap {
  position: relative;
  padding-left: 160px;
}

#worldmap2 {
  position: relative;
  padding-left: 160px;
}

#linechart {
  position: relative;
  padding-left: 115px;
}

#linechart2 {
  position: relative;
  padding-left: 115px;
}

#isotypegraph {
  position: relative;
  padding-left: 70px;
  padding-top: 0px;
}

#isotypegraph2 {
  position: relative;
  padding-left: 70px;
  padding-top: 0px;
}

#barchart {
  position: relative;
  padding-right: 0px;
  height: 130px;
}

#barchart2 {
  position: relative;
  padding-right: 0px;
  height: 130px;
}

#tooltip {
  position: absolute;
  text-align: center;
  width: 120px;
  height: 40px;
  padding: 5px;
  font: 10px sans-serif;
  background: white;
  border: 3px solid  palevioletred;
  border-radius: 8px;
  pointer-events: none;
  font-weight: bolder;
  margin: auto;
  display: inline-block;
}

#slide2-dropdown {
  height: 150px
}

.line-left {
  border-left: 2px solid lightgrey;
  height: 688px;
  position: absolute;
  left: 12%;
  top: 30px;
}

.line-right {
  border-right: 2px solid lightgrey;
  height: 688px;
  position: absolute;
  right: 12%;
  top: 30px;
}

.line-top-left {
  border-top: 2px solid lightgrey;
  width: 420px;
  position: absolute;
  left: 12%;
  top: 30px;
}

.line-top-right {
  border-top: 2px solid lightgrey;
  width: 420px;
  position: absolute;
  right: 12%;
  top: 30px;
}

.line-bottom {
  border-bottom: 2px solid lightgrey;
  width: 1168px;
  position: absolute;
  right: 12%;
  bottom: 35px;
}

.line-left1 {
  border-left: 2px solid lightgrey;
  height: 270px;
  position: absolute;
  left: 13%;
  top: 240px;
}

.line-right1 {
  border-right: 2px solid lightgrey;
  height: 270px;
  position: absolute;
  right: 52%;
  top: 240px;
}

.line-top-left1 {
  border-top: 2px solid lightgrey;
  width: 180px;
  position: absolute;
  left: 13%;
  top: 240px;
}

.line-top-right1 {
  border-top: 2px solid lightgrey;
  width: 180px;
  position: absolute;
  right: 52%;
  top: 240px;
}

.line-bottom1 {
  border-bottom: 2px solid lightgrey;
  width: 537px;
  position: absolute;
  right: 52%;
  bottom: 244px;
}

.line-left2 {
  border-left: 2px solid lightgrey;
  height: 150px;
  position: absolute;
  left: 13%;
  top: 550px;
}

.line-right2 {
  border-right: 2px solid lightgrey;
  height: 150px;
  position: absolute;
  right: 52%;
  top: 550px;
}

.line-top-left2 {
  border-top: 2px solid lightgrey;
  width: 180px;
  position: absolute;
  left: 13%;
  top: 550px;
}

.line-top-right2 {
  border-top: 2px solid lightgrey;
  width: 180px;
  position: absolute;
  right: 52%;
  top: 550px;
}

.line-bottom2 {
  border-bottom: 2px solid lightgrey;
  width: 537px;
  position: absolute;
  right: 52%;
  bottom: 53px;
}

.line-left3 {
  border-left: 2px solid lightgrey;
  height: 85px;
  position: absolute;
  right: 13%;
  top: 240px;
}

.line-right3 {
  border-right: 2px solid lightgrey;
  height: 85px;
  position: absolute;
  left: 52%;
  top: 240px;
}

.line-top-left3 {
  border-top: 2px solid lightgrey;
  width: 270px;
  position: absolute;
  right: 13%;
  top: 240px;
}

.line-top-right3 {
  border-top: 2px solid lightgrey;
  width: 270px;
  position: absolute;
  left: 52%;
  top: 240px;
}

.line-bottom3 {
  border-bottom: 2px solid lightgrey;
  width: 537px;
  position: absolute;
  left: 52%;
  bottom: 420px;
}

.line-left4 {
  border-left: 2px solid lightgrey;
  height: 330px;
  position: absolute;
  right: 13%;
  top: 375px;
}

.line-right4 {
  border-right: 2px solid lightgrey;
  height: 330px;
  position: absolute;
  left: 52%;
  top: 370px;
}

.line-top-left4 {
  border-top: 2px solid lightgrey;
  width: 300px;
  position: absolute;
  right: 13%;
  top: 370px;
}

.line-top-right4 {
  border-top: 2px solid lightgrey;
  width: 300px;
  position: absolute;
  left: 52%;
  top: 370px;
}

.line-bottom4 {
  border-bottom: 2px solid lightgrey;
  width: 537px;
  position: absolute;
  left: 52%;
  bottom: 53px;
}